<a href="https://colab.research.google.com/github/LAXMINARAYAN-SHARMA/PAST_DATA_OF_NIFTY_50/blob/main/TIME_123_MIN_ISSE_DAILY_RUN_KARO_375_ROWS_ADD_KAO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# -*- coding: utf-8 -*-
"""intraday_data_fetch_upstox_api_final.ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/drive/1yLR0KrTo_o3-VUjodgtvOrB_K--3Lf5K
"""

import requests
import pandas as pd
from datetime import datetime, timedelta
# df=pd.read_csv('/content/ind_nifty50list.csv')
# df=pd.read_csv('/content/complete.csv')
df=pd.read_csv('/content/ALL_INDEX_LIST_NSE.csv')

# df=pd.read_csv('complete.csv')
# df_eq=pd.read_csv('/content/EQUITY_L (1).csv')
df_eq_500=pd.read_csv('ind_nifty500list.csv')
# df_eq_500=df_eq_500.iloc[:5,:]
names_to_search = [row['Symbol'] for index, row in df_eq_500.iterrows()]
names_to_search=names_to_search[250:501]
names_to_search
# df_eq_500

<ipython-input-3-b9e94c01a42b>:15: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/ALL_INDEX_LIST_NSE.csv')

['JKPAPER',
 'JMFINANCIL',
 'JSWENERGY',
 'JSWSTEEL',
 'JAMNAAUTO',
 'JINDALSAW',
 'JSL',
 'JINDALSTEL',
 'JUBLFOOD',
 'JUBLINGREA',
 'JUBLPHARMA',
 'JUSTDIAL',
 'JYOTHYLAB',
 'KPRMILL',
 'KEI',
 'KNRCON',
 'KPITTECH',
 'KRBL',
 'KSB',
 'KAJARIACER',
 'KPIL',
 'KALYANKJIL',
 'KANSAINER',
 'KARURVYSYA',
 'KAYNES',
 'KEC',
 'KFINTECH',
 'KOTAKBANK',
 'KIMS',
 'L&TFH',
 'LTTS',
 'LICHSGFIN',
 'LTIM',
 'LAXMIMACH',
 'LT',
 'LATENTVIEW',
 'LAURUSLABS',
 'LXCHEM',
 'LEMONTREE',
 'LICI',
 'LINDEINDIA',
 'LUPIN',
 'LUXIND',
 'MMTC',
 'MRF',
 'MTARTECH',
 'LODHA',
 'MGL',
 'M&MFIN',
 'M&M',
 'MHRIL',
 'MAHLIFE',
 'MANAPPURAM',
 'MRPL',
 'MANKIND',
 'MARICO',
 'MARUTI',
 'MASTEK',
 'MFSL',
 'MAXHEALTH',
 'MAZDOCK',
 'MEDPLUS',
 'METROBRAND',
 'METROPOLIS',
 'MINDACORP',
 'MSUMI',
 'MOTILALOFS',
 'MPHASIS',
 'MCX',
 'MUTHOOTFIN',
 'NATCOPHARM',
 'NBCC',
 'NCC',
 'NHPC',
 'NLCINDIA',
 'NMDC',
 'NSLNISP',
 'NTPC',
 'NH',
 'NATIONALUM',
 'NAVINFLUOR',
 'NAZARA',
 'NESTLEIND',
 'NETWORK18',
 'NAM-INDIA',
 'NUVOCO',
 'OBEROIRLTY',
 'ONGC',
 'OIL',
 'OLECTRA',
 'PAYTM',
 'OFSS',
 'ORIENTELEC',
 'POLICYBZR',
 'PCBL',
 'PIIND',
 'PNBHOUSING',
 'PNCINFRA',
 'PVRINOX',
 'PAGEIND',
 'PATANJALI',
 'PERSISTENT',
 'PETRONET',
 'PFIZER',
 'PHOENIXLTD',
 'PIDILITIND',
 'PEL',
 'PPLPHARMA',
 'POLYMED',
 'POLYCAB',
 'POLYPLEX',
 'POONAWALLA',
 'PFC',
 'POWERGRID',
 'PRAJIND',
 'PRESTIGE',
 'PRINCEPIPE',
 'PRSMJOHNSN',
 'PGHL',
 'PGHH',
 'PNB',
 'QUESS',
 'RBLBANK',
 'RECLTD',
 'RHIM',
 'RITES',
 'RADICO',
 'RVNL',
 'RAIN',
 'RAINBOW',
 'RAJESHEXPO',
 'RALLIS',
 'RCF',
 'RATNAMANI',
 'RTNINDIA',
 'RAYMOND',
 'REDINGTON',
 'RELAXO',
 'RELIANCE',
 'RBA',
 'ROSSARI',
 'ROUTE',
 'SBICARD',
 'SBILIFE',
 'SJVN',
 'SKFINDIA',
 'SRF',
 'SAFARI',
 'MOTHERSON',
 'SANOFI',
 'SAPPHIRE',
 'SAREGAMA',
 'SCHAEFFLER',
 'SHARDACROP',
 'SFL',
 'SHOPERSTOP',
 'SHREECEM',
 'RENUKA',
 'SHRIRAMFIN',
 'SHYAMMETL',
 'SIEMENS',
 'SOBHA',
 'SOLARINDS',
 'SONACOMS',
 'SONATSOFTW',
 'STARHEALTH',
 'SBIN',
 'SAIL',
 'SWSOLAR',
 'STLTECH',
 'SUMICHEM',
 'SPARC',
 'SUNPHARMA',
 'SUNTV',
 'SUNDARMFIN',
 'SUNDRMFAST',
 'SUNTECK',
 'SUPRAJIT',
 'SUPREMEIND',
 'SUVENPHAR',
 'SUZLON',
 'SWANENERGY',
 'SYMPHONY',
 'SYNGENE',
 'SYRMA',
 'TTKPRESTIG',
 'TV18BRDCST',
 'TVSMOTOR',
 'TANLA',
 'TATACHEM',
 'TATACOMM',
 'TCS',
 'TATACONSUM',
 'TATAELXSI',
 'TATAINVEST',
 'TATAMTRDVR',
 'TATAMOTORS',
 'TATAPOWER',
 'TATASTEEL',
 'TTML',
 'TEAMLEASE',
 'TECHM',
 'TEJASNET',
 'NIACL',
 'RAMCOCEM',
 'THERMAX',
 'TIMKEN',
 'TITAN',
 'TORNTPHARM',
 'TORNTPOWER',
 'TRENT',
 'TRIDENT',
 'TRIVENI',
 'TRITURBINE',
 'TIINDIA',
 'UCOBANK',
 'UNOMINDA',
 'UPL',
 'UTIAMC',
 'UJJIVANSFB',
 'ULTRACEMCO',
 'UNIONBANK',
 'UBL',
 'MCDOWELL-N',
 'USHAMART',
 'VGUARD',
 'VMART',
 'VIPIND',
 'VAIBHAVGBL',
 'VTL',
 'VARROC',
 'VBL',
 'MANYAVAR',
 'VEDL',
 'VIJAYA',
 'VINATIORGA',
 'IDEA',
 'VOLTAS',
 'WELCORP',
 'WELSPUNLIV',
 'WESTLIFE',
 'WHIRLPOOL',
 'WIPRO',
 'YESBANK',
 'ZFCVINDIA',
 'ZEEL',
 'ZENSARTECH',
 'ZOMATO',
 'ZYDUSLIFE',
 'ZYDUSWELL',
 'ECLERX']

In [4]:


# -*- coding: utf-8 -*-
"""historical_data_in_simple_table_for_n_years.ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/drive/1RJSU82yAjVUV06cGK7IchzBvXZ3Bk1yc
"""

import requests
import pandas as pd
from datetime import datetime

# Function to fetch intraday 1-minute data
def fetch_intraday_data(symbol):
    url = f'https://api.upstox.com/v2/historical-candle/intraday/{symbol}/1minute'
    headers = {'Accept': 'application/json'}
    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        data = response.json().get('data', [])
        return pd.DataFrame(data)
    else:
        print(f"Error: {response.status_code} - {response.text}")
        return None

# # Define the symbols for which you want to fetch intraday data
# symbols = ['NSE_EQ%7CINE848E01016']

# Function to fetch instrument_keys based on a list of names using boolean indexing
def get_instrument_keys(df, names):
    instrument_keys = {}

    for name in names:
        mask = df['tradingsymbol'] == name
        if mask.any():
            instrument_key = df.loc[mask, 'instrument_key'].iloc[0]
            instrument_keys[name.lower()] = instrument_key
        else:
            print(f"No instrument_key found for name: {name}")

    return instrument_keys

instrument_keys_result = get_instrument_keys(df, names_to_search)
# Dictionary to store DataFrames
dfs = {}

# Loop through each symbol and fetch intraday data
for name, instrument_key in instrument_keys_result.items():
    df_symbol = fetch_intraday_data(instrument_key)

    # Convert timestamp column to datetime format
    if 'timestamp' in df_symbol.columns:
        df_symbol['timestamp'] = pd.to_datetime(df_symbol['timestamp'])

    # Store the DataFrame in the dictionary with a name like df_reliance
    dfs[f"df_{name.lower()}"] = df_symbol

# # Access individual DataFrames using dfs dictionary
# df_nse_eq = dfs.get('df_nse_eq%7cine848e01016', pd.DataFrame())


# Function to clean the data for a given DataFrame
def clean_data(df):
    # Create an empty DataFrame with the desired column names
    columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'open interest']
    df_cleaned_data = pd.DataFrame(columns=columns)

    # Iterate through each row in the original DataFrame
    for index, row in df.iterrows():
        # Extract data from the list
        row_data = row[0] if isinstance(row[0], list) else row[0][0]  # Assuming each row contains a list or list within a list

        # Reshape the row_data if needed
        if isinstance(row_data, list) and len(row_data) == 1:
            row_data = row_data[0]

        # Create a temporary DataFrame
        temp_df = pd.DataFrame([row_data], columns=columns[:len(row_data)])

        # Append the temporary DataFrame to the cleaned DataFrame
        df_cleaned_data = pd.concat([df_cleaned_data, temp_df], ignore_index=True)

    # Convert timestamp column to datetime format
    df_cleaned_data['timestamp'] = pd.to_datetime(df_cleaned_data['timestamp'])

    return df_cleaned_data
for name, df_symbol in dfs.items():
    cleaned_df = clean_data(df_symbol)
    dfs[name] = cleaned_df

# Access and print individual cleaned DataFrames
for name, cleaned_df in dfs.items():
    cleaned_df['timestamp'] = cleaned_df['timestamp'].astype(str).str[:-6]
    print(f"Cleaned DataFrame for {name}:")
    print(cleaned_df)

Streaming output truncated to the last 5000 lines.
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  567.80  568.65  567.05  568.65  11149             0
1    2024-02-14 15:28:00  568.30  568.35  567.00  567.25  17496             0
2    2024-02-14 15:27:00  567.50  568.40  567.20  568.35   8833             0
3    2024-02-14 15:26:00  567.85  567.90  567.10  567.45  10848             0
4    2024-02-14 15:25:00  567.55  568.10  567.00  567.85  11511             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  572.50  572.50  566.80  567.30  10440             0
371  2024-02-14 09:18:00  569.40  572.55  567.75  572.25   8277             0
372  2024-02-14 09:17:00  568.05  568.70  566.20  568.50  12048             0
373  2024-02-14 09:16:00  562.00  570.20  561.65  568.30  21060             0
374  2024-02-14 09:15:00  562.05  566.60  561.00  562.00  12193             0

[375 rows x 7 columns]
Cleaned DataFrame for df_jindalstel:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  760.20  760.25     760     760  36166             0
1    2024-02-14 15:28:00  760.25  760.25   758.7   760.2  14137             0
2    2024-02-14 15:27:00  759.30  760.25   759.2  760.25  24867             0
3    2024-02-14 15:26:00  759.00  759.95  758.65     759  21733             0
4    2024-02-14 15:25:00  759.15  759.40   758.4     759  19693             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  732.05  732.65     731  731.45   6298             0
371  2024-02-14 09:18:00  731.90  732.95  731.45  732.35  11862             0
372  2024-02-14 09:17:00  731.35  732.00   729.5   731.9  12123             0
373  2024-02-14 09:16:00  726.00  732.75     726  731.35  44180             0
374  2024-02-14 09:15:00  721.85  726.55  721.85  725.85  28307             0

[375 rows x 7 columns]
Cleaned DataFrame for df_jublfood:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  480.30     481     480     481   5536             0
1    2024-02-14 15:28:00  480.30   480.8  479.45  480.35   5894             0
2    2024-02-14 15:27:00  480.55   480.8  480.25  480.25   3061             0
3    2024-02-14 15:26:00  480.85  480.95  480.35  480.55   9433             0
4    2024-02-14 15:25:00  481.10  481.45   480.7  481.05  21698             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  469.00   469.3  468.85     469   6647             0
371  2024-02-14 09:18:00  467.40   469.3   467.4   469.3   3404             0
372  2024-02-14 09:17:00  468.10   468.1   466.6  467.45  11274             0
373  2024-02-14 09:16:00  468.50  468.85  467.85   468.1   7090             0
374  2024-02-14 09:15:00  470.55  470.65  468.25   468.4  11155             0

[375 rows x 7 columns]
Cleaned DataFrame for df_jublingrea:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00     488  488.30  487.85  487.90   5253             0
1    2024-02-14 15:28:00   487.7  488.00  487.50  488.00   5555             0
2    2024-02-14 15:27:00  487.85  487.85  487.50  487.70   2199             0
3    2024-02-14 15:26:00  487.85  487.85  487.50  487.85   2125             0
4    2024-02-14 15:25:00  486.95  487.85  485.75  487.80   4395             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  472.85  473.35  471.00  471.00   1961             0
371  2024-02-14 09:18:00   468.5  473.10  468.05  472.60   7253             0
372  2024-02-14 09:17:00   469.5  469.50  468.00  468.40   1873             0
373  2024-02-14 09:16:00  465.65  470.95  464.60  470.45   5076             0
374  2024-02-14 09:15:00   466.9  470.20  462.10  465.20   4598             0

[375 rows x 7 columns]
Cleaned DataFrame for df_jublpharma:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  584.65  584.75  582.30  584.75    849             0
1    2024-02-14 15:28:00  584.50  584.75  581.10  584.65   1549             0
2    2024-02-14 15:27:00  583.05  584.70  583.00  584.50    832             0
3    2024-02-14 15:26:00  584.05  584.05  582.60  584.00    411             0
4    2024-02-14 15:25:00  583.30  584.35  583.10  583.65    184             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  579.10  580.65  579.10  579.35   1770             0
371  2024-02-14 09:18:00  575.00  578.90  575.00  578.90   2515             0
372  2024-02-14 09:17:00  576.30  576.30  573.70  574.40   1926             0
373  2024-02-14 09:16:00  571.30  577.25  571.30  577.00    678             0
374  2024-02-14 09:15:00  575.95  577.60  571.75  571.75   2621             0

[375 rows x 7 columns]
Cleaned DataFrame for df_justdial:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  837.05     841     837  840.75    341             0
1    2024-02-14 15:28:00  840.30     842     837  837.00   1998             0
2    2024-02-14 15:27:00  840.00  840.35     840  840.35    413             0
3    2024-02-14 15:26:00  838.45   840.3  838.45  840.00    507             0
4    2024-02-14 15:25:00  838.20   838.6   837.9  838.45     90             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  838.45  839.55   837.5  837.90    708             0
371  2024-02-14 09:18:00  837.00   838.5     837  838.45    713             0
372  2024-02-14 09:17:00  839.30  839.45     837  837.35    589             0
373  2024-02-14 09:16:00  835.80   840.3  835.05  839.90   1628             0
374  2024-02-14 09:15:00  839.95  839.95     832  835.65   3892             0

[375 rows x 7 columns]
Cleaned DataFrame for df_jyothylab:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  477.75     478  476.40     477  10376             0
1    2024-02-14 15:28:00  478.10  478.15  477.10  477.75   4580             0
2    2024-02-14 15:27:00  475.90  478.15  475.55  478.15   7062             0
3    2024-02-14 15:26:00  476.20   476.4  475.00  475.95  22056             0
4    2024-02-14 15:25:00  476.15   476.4  476.00  476.25   4823             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  437.85     438  436.00  436.45   6511             0
371  2024-02-14 09:18:00  435.20  437.85  434.85  437.85   6887             0
372  2024-02-14 09:17:00  438.65  438.65  434.80   435.6   4986             0
373  2024-02-14 09:16:00  434.50  439.65  433.95   438.7  15116             0
374  2024-02-14 09:15:00  431.65  434.85  429.00  434.55  12363             0

[375 rows x 7 columns]
Cleaned DataFrame for df_kprmill:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00     728     728     726     727   1469             0
1    2024-02-14 15:28:00     728     728     727     728   1648             0
2    2024-02-14 15:27:00   727.9  729.85     727  727.05    975             0
3    2024-02-14 15:26:00   728.5   729.7   727.9  728.95    746             0
4    2024-02-14 15:25:00   728.3   728.9   727.7   727.9   1280             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  728.35  731.45  728.35   730.8    341             0
371  2024-02-14 09:18:00  729.85  729.95  728.35  728.35   1874             0
372  2024-02-14 09:17:00  729.55  729.75     728  729.25    306             0
373  2024-02-14 09:16:00   723.6  731.45   723.6  729.55   2625             0
374  2024-02-14 09:15:00   725.2   728.3   722.3   723.6    569             0

[375 rows x 7 columns]
Cleaned DataFrame for df_kei:
               timestamp     open     high      low    close volume  \
0    2024-02-14 15:29:00  3289.95     3297  3289.90     3295    110
1    2024-02-14 15:28:00  3292.20  3297.85  3289.90  3289.95    298
2    2024-02-14 15:27:00  3292.15   3297.6  3289.00     3292    150
3    2024-02-14 15:26:00  3288.85   3293.4  3288.35   3293.4     83
4    2024-02-14 15:25:00  3287.20  3297.85  3287.15  3288.85    203
..                   ...      ...      ...      ...      ...    ...
370  2024-02-14 09:19:00  3299.80   3305.9  3292.15  3295.55    703
371  2024-02-14 09:18:00  3295.00  3305.25  3294.15  3299.15   1627
372  2024-02-14 09:17:00  3290.05  3293.05  3280.55   3290.6   1433
373  2024-02-14 09:16:00  3272.55  3292.25  3265.95  3290.75   2284
374  2024-02-14 09:15:00  3250.00     3291  3201.00  3267.45   4646

    open interest
0               0
1               0
2               0
3               0
4               0
..            ...
370             0
371             0
372             0
373             0
374             0

[375 rows x 7 columns]
Cleaned DataFrame for df_knrcon:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  270.10     271  270.10     271   1990             0
1    2024-02-14 15:28:00  270.60   270.9  269.85  270.85   8716             0
2    2024-02-14 15:27:00  270.80   270.8  270.50   270.6   2731             0
3    2024-02-14 15:26:00  271.00     271  270.50   270.7   3913             0
4    2024-02-14 15:25:00  270.75     271  270.50     271   4802             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  259.85  260.55  259.85  260.55   4870             0
371  2024-02-14 09:18:00  260.30  260.55  259.65   259.8   6817             0
372  2024-02-14 09:17:00  260.45   260.7  259.90   259.9   4018             0
373  2024-02-14 09:16:00  257.80   260.9  257.50   260.9   8832             0
374  2024-02-14 09:15:00  258.00   258.4  257.80     258   1261             0

[375 rows x 7 columns]
Cleaned DataFrame for df_kpittech:
               timestamp     open     high      low    close volume  \
0    2024-02-14 15:29:00     1636  1636.85  1633.10  1633.10   2327
1    2024-02-14 15:28:00   1637.5  1638.00  1635.15  1636.00   2231
2    2024-02-14 15:27:00     1637  1638.00  1637.00  1637.00   1824
3    2024-02-14 15:26:00   1636.8  1638.00  1636.70  1637.00   3601
4    2024-02-14 15:25:00   1636.7  1638.00  1635.55  1636.90   1574
..                   ...      ...      ...      ...      ...    ...
370  2024-02-14 09:19:00  1582.35  1590.00  1581.05  1589.00  10199
371  2024-02-14 09:18:00  1577.85  1585.00  1577.70  1582.35   4079
372  2024-02-14 09:17:00   1580.5  1583.95  1575.00  1576.40   8725
373  2024-02-14 09:16:00  1570.95  1584.10  1570.15  1580.00  10681
374  2024-02-14 09:15:00  1556.85  1570.70  1556.85  1569.85  15079

    open interest
0               0
1               0
2               0
3               0
4               0
..            ...
370             0
371             0
372             0
373             0
374             0

[375 rows x 7 columns]
Cleaned DataFrame for df_krbl:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  337.95     338  337.25     338   4779             0
1    2024-02-14 15:28:00  337.45  337.95  337.20  337.95   2130             0
2    2024-02-14 15:27:00  337.55   337.9  337.35   337.4    606             0
3    2024-02-14 15:26:00  337.15     338  337.15  337.95   1343             0
4    2024-02-14 15:25:00  337.55  337.75  337.10   337.7   2505             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  336.80  337.65  335.80  337.65   2937             0
371  2024-02-14 09:18:00  335.65   336.4  335.20  336.35   1784             0
372  2024-02-14 09:17:00  336.65  336.65  333.90   335.2   5254             0
373  2024-02-14 09:16:00  335.20  337.95  335.05  337.05   3859             0
374  2024-02-14 09:15:00  334.50   335.7  332.00   335.3   9159             0

[375 rows x 7 columns]
Cleaned DataFrame for df_ksb:
               timestamp     open     high      low    close volume  \
0    2024-02-14 15:29:00  3845.95  3857.80  3763.70     3811   1573
1    2024-02-14 15:28:00  3847.85  3847.95  3843.15  3843.15    311
2    2024-02-14 15:27:00  3848.25  3848.70  3846.20     3848    122
3    2024-02-14 15:26:00  3847.05  3849.00  3847.05  3848.65     87
4    2024-02-14 15:25:00  3851.40  3851.40  3844.20  3847.05    123
..                   ...      ...      ...      ...      ...    ...
370  2024-02-14 09:19:00  3856.40  3874.25  3853.60   3862.4    944
371  2024-02-14 09:18:00  3862.60  3879.65  3851.35  3860.15   1410
372  2024-02-14 09:17:00  3830.20  3857.25  3817.85  3857.25   1322
373  2024-02-14 09:16:00  3809.95  3844.70  3809.95     3830   1459
374  2024-02-14 09:15:00  3770.00  3800.00  3720.00     3800   1056

    open interest
0               0
1               0
2               0
3               0
4               0
..            ...
370             0
371             0
372             0
373             0
374             0

[375 rows x 7 columns]
Cleaned DataFrame for df_kajariacer:
               timestamp     open     high      low    close volume  \
0    2024-02-14 15:29:00  1238.15     1242  1235.10  1236.05    850
1    2024-02-14 15:28:00  1237.10   1239.7  1235.05  1235.10    612
2    2024-02-14 15:27:00  1237.15     1239  1237.10  1237.15    255
3    2024-02-14 15:26:00  1238.90   1238.9  1237.10  1237.10    247
4    2024-02-14 15:25:00  1238.90  1238.95  1236.85  1237.05    435
..                   ...      ...      ...      ...      ...    ...
370  2024-02-14 09:19:00  1220.15     1222  1218.75  1220.65    513
371  2024-02-14 09:18:00  1214.90   1220.1  1214.50  1220.10    327
372  2024-02-14 09:17:00  1219.25   1221.3  1213.45  1213.45    449
373  2024-02-14 09:16:00  1221.70   1225.1  1219.40  1219.95   2042
374  2024-02-14 09:15:00  1223.00     1223  1215.00  1221.90   1607

    open interest
0               0
1               0
2               0
3               0
4               0
..            ...
370             0
371             0
372             0
373             0
374             0

[375 rows x 7 columns]
Cleaned DataFrame for df_kpil:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  984.90  985.50  983.05  985.50   4245             0
1    2024-02-14 15:28:00  985.95  986.00  983.10  984.90   4174             0
2    2024-02-14 15:27:00  986.45  987.10  985.25  985.25   2747             0
3    2024-02-14 15:26:00  988.00  988.55  986.45  987.05   3013             0
4    2024-02-14 15:25:00  988.20  988.60  987.25  988.00   2699             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  921.05  922.90  920.00  921.75   2104             0
371  2024-02-14 09:18:00  921.95  923.65  920.00  920.30   7527             0
372  2024-02-14 09:17:00  919.20  925.00  914.05  920.55   7920             0
373  2024-02-14 09:16:00  913.75  924.85  913.75  920.90  10255             0
374  2024-02-14 09:15:00  900.00  917.70  900.00  911.60   9399             0

[375 rows x 7 columns]
Cleaned DataFrame for df_kalyankjil:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  363.20     364     362  363.05   8350             0
1    2024-02-14 15:28:00  364.10   364.4     363  363.05   9141             0
2    2024-02-14 15:27:00  363.80     365   363.5  364.00  10154             0
3    2024-02-14 15:26:00  364.10   364.1  363.25  363.55   4020             0
4    2024-02-14 15:25:00  364.40   364.5   363.5  364.10  10542             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  359.00     359     358  358.25  14448             0
371  2024-02-14 09:18:00  358.95   359.3   358.3  358.65  15914             0
372  2024-02-14 09:17:00  359.00  359.55  358.05  359.00  16539             0
373  2024-02-14 09:16:00  359.40  361.85  358.25  359.00  34344             0
374  2024-02-14 09:15:00  361.50  361.95   356.7  359.10  71840             0

[375 rows x 7 columns]
Cleaned DataFrame for df_kansainer:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  304.85  305.45  304.80  305.45  10014             0
1    2024-02-14 15:28:00  305.00  305.10  304.00  304.85   6577             0
2    2024-02-14 15:27:00  305.00  305.10  304.80  305.00   3474             0
3    2024-02-14 15:26:00  305.00  305.00  304.80  305.00   1393             0
4    2024-02-14 15:25:00  305.00  305.15  305.00  305.00   1462             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  312.10  312.45  311.80  312.00    346             0
371  2024-02-14 09:18:00  311.70  312.20  311.50  311.95   1559             0
372  2024-02-14 09:17:00  311.70  311.70  311.15  311.20    122             0
373  2024-02-14 09:16:00  311.50  312.45  311.50  312.00   1475             0
374  2024-02-14 09:15:00  312.70  312.70  311.05  311.75    880             0

[375 rows x 7 columns]
Cleaned DataFrame for df_karurvysya:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  182.65  183.90  182.55  183.50  10399             0
1    2024-02-14 15:28:00  182.45  182.65  181.90  182.65  46656             0
2    2024-02-14 15:27:00  182.90  183.00  182.40  182.50  24313             0
3    2024-02-14 15:26:00  182.95  183.00  182.90  182.90   5508             0
4    2024-02-14 15:25:00  182.85  183.00  182.85  183.00  11185             0
..                   ...     ...     ...     ...     ...    ...           ...
370  2024-02-14 09:19:00  175.75  175.75  175.10  175.10   3672             0
371  2024-02-14 09:18:00  175.00  175.80  174.85  175.60   6804             0
372  2024-02-14 09:17:00  174.70  175.15  174.60  175.00   5377             0
373  2024-02-14 09:16:00  173.90  175.30  173.90  174.75   7306             0
374  2024-02-14 09:15:00  175.00  175.45  173.60  173.90  49655             0

[375 rows x 7 columns]
Cleaned DataFrame for df_kaynes:
               timestamp    open     high      low    close volume  \
0    2024-02-14 15:29:00  2838.3     2842  2838.25     2840    239
1    2024-02-14 15:28:00  2838.5     2840  2830.00   2838.3    936
2    2024-02-14 15:27:00  2842.6   2842.6  2838.00   2838.5    387
3    2024-02-14 15:26:00  2840.4     2843  2840.00   2842.6    376
4    2024-02-14 15:25:00  2840.4  2840.55  2839.95     2840    312
..                   ...     ...      ...      ...      ...    ...
370  2024-02-14 09:19:00  2891.2   2894.9  2868.75   2871.5   1719
371  2024-02-14 09:18:00  2878.1  2893.85  2875.05     2891    410
372  2024-02-14 09:17:00  2873.6  2881.55  2873.00     2880    409
373  2024-02-14 09:16:00  2878.0  2884.45  2873.65   2877.2    340
374  2024-02-14 09:15:00  2896.0     2896  2846.20  2871.05   1256

    open interest
0               0
1               0
2               0
3               0
4               0
..            ...
370             0
371             0
372             0
373             0
374             0

[375 rows x 7 columns]
Cleaned DataFrame for df_kec:
               timestamp    open    high     low   close volume open interest
0    2024-02-14 15:29:00  694.50     695     693  693.50   2814             0
1    2024-02-14 15:28:00  695.35     696   694.5  695.00   1747             0
2    2024-02-14 15:27:00  694.75   696.4  694.05  695.00   3789             0
3    2024-02-14 15:26:00  695.00     695     694  694.90   1336             0
4    2024-02-14 15:25:00  695.10   695.8     695  695.00   2791             0
..                   ...     ...     ...     ...     ...    ...           ...

In [5]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [6]:

import pandas as pd
import requests
from io import BytesIO

repo_path = "LAXMINARAYAN-SHARMA/PAST_DATA_OF_NIFTY_50"
github_token = "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"
def read_and_append_files(dfs):
    for name, cleaned_df in dfs.items():
        cleaned_df = pd.DataFrame(cleaned_df)
        file_name = f"{name}_historical_1minute_data.xlsx"
        github_url = f"https://raw.githubusercontent.com/LAXMINARAYAN-SHARMA/PAST_DATA_OF_NIFTY_50/main/{file_name}"
        response = requests.get(github_url)
        if response.status_code == 200:
            excel_data = response.content
            df_to_append = pd.read_excel(BytesIO(excel_data))
            print(df_to_append.shape)
            print(cleaned_df.shape)

            appended_df = pd.concat([cleaned_df, df_to_append], ignore_index=True)
            print(appended_df.shape)

            dfs[name] = appended_df

        else:
            print(f"Failed to retrieve file: {file_name}")
    return dfs

# Assuming you have a DataFrame named 'complete_df'
# containing the column 'name'
complete_df = read_and_append_files(dfs)
for name, cleaned_df in complete_df.items():
    print(f"Cleaned DataFrame for {name}:")
    print(cleaned_df)

Streaming output truncated to the last 5000 lines.
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48801             0
48802             0
48803             0
48804             0
48805             0

[48806 rows x 7 columns]
Cleaned DataFrame for df_msumi:
                 timestamp   open   high    low  close  volume open interest
0      2024-02-14 15:29:00  69.85  69.90  69.80  69.85   49166             0
1      2024-02-14 15:28:00  69.85  69.90  69.80  69.85   80487             0
2      2024-02-14 15:27:00  69.90  69.95  69.85  69.90   57901             0
3      2024-02-14 15:26:00  69.80  69.95  69.80  69.95  148236             0
4      2024-02-14 15:25:00  69.80  69.80  69.75  69.80   39180             0
...                    ...    ...    ...    ...    ...     ...           ...
48802  2023-08-07 09:19:00  60.50  60.55  60.35  60.35   28071             0
48803  2023-08-07 09:18:00  60.45  60.50  60.40  60.50   43610             0
48804  2023-08-07 09:17:00  60.55  60.55  60.45  60.50   32585             0
48805  2023-08-07 09:16:00  60.55  60.80  60.55  60.65   31083             0
48806  2023-08-07 09:15:00  60.95  60.95  60.45  60.60   74316             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_motilalofs:
                 timestamp    open    high      low    close volume  \
0      2024-02-14 15:29:00    1796    1800     1794  1799.85    371
1      2024-02-14 15:28:00    1795    1796     1790  1796.00    229
2      2024-02-14 15:27:00    1795    1795  1794.95  1795.00    288
3      2024-02-14 15:26:00  1794.4  1796.1     1794  1794.95    133
4      2024-02-14 15:25:00  1799.9  1799.9     1795  1795.85    651
...                    ...     ...     ...      ...      ...    ...
48802  2023-08-07 09:19:00   840.9   840.9   839.05   840.45    422
48803  2023-08-07 09:18:00   840.0   841.4   839.05   840.00   2949
48804  2023-08-07 09:17:00   840.5  841.85    839.1   840.95   1669
48805  2023-08-07 09:16:00  841.55  841.65    840.2   841.00    446
48806  2023-08-07 09:15:00  844.65  844.65   840.15   841.00   2082

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_mphasis:
                 timestamp     open     high      low    close volume  \
0      2024-02-14 15:29:00     2565  2566.95  2559.25     2562   2728
1      2024-02-14 15:28:00  2565.05  2566.60  2562.50  2564.85   3438
2      2024-02-14 15:27:00  2564.45  2566.05  2562.25   2564.1   4844
3      2024-02-14 15:26:00  2561.55  2566.00  2560.20     2563   2700
4      2024-02-14 15:25:00     2564  2564.00  2559.05  2560.25   1780
...                    ...      ...      ...      ...      ...    ...
48802  2023-08-07 09:19:00   2278.3  2283.00  2276.35   2283.0    888
48803  2023-08-07 09:18:00  2274.85  2278.00  2274.85   2278.0    810
48804  2023-08-07 09:17:00   2273.6  2275.00  2272.10   2275.0    297
48805  2023-08-07 09:16:00   2272.7  2274.75  2268.90  2274.75   1846
48806  2023-08-07 09:15:00   2260.0  2272.45  2260.00  2272.45   1834

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_mcx:
                 timestamp     open     high      low    close volume  \
0      2024-02-14 15:29:00  3367.65  3367.65  3353.60  3360.65    913
1      2024-02-14 15:28:00  3364.65  3368.00  3363.75  3365.00   1698
2      2024-02-14 15:27:00  3362.00  3365.00  3358.55  3365.00   3266
3      2024-02-14 15:26:00  3362.10  3362.10  3359.95  3362.00   1132
4      2024-02-14 15:25:00  3359.70  3364.00  3357.50  3362.20   2223
...                    ...      ...      ...      ...      ...    ...
48800  2023-08-07 09:19:00  1635.00  1637.15  1635.00  1636.15   1260
48801  2023-08-07 09:18:00  1637.90  1637.90  1634.65  1635.00   1366
48802  2023-08-07 09:17:00  1637.10  1638.45  1636.65  1637.05    688
48803  2023-08-07 09:16:00  1628.35  1638.00  1628.00  1638.00   4404
48804  2023-08-07 09:15:00  1642.00  1642.15  1628.70  1631.90   2173

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48800             0
48801             0
48802             0
48803             0
48804             0

[48805 rows x 7 columns]
Cleaned DataFrame for df_muthootfin:
                 timestamp     open     high      low    close volume  \
0      2024-02-14 15:29:00     1383  1387.20  1381.05  1383.65   1347
1      2024-02-14 15:28:00   1382.6  1383.15  1380.05  1383.15    502
2      2024-02-14 15:27:00  1381.55  1383.60  1380.50  1382.60   3107
3      2024-02-14 15:26:00   1382.4  1382.40  1379.50  1381.45   4246
4      2024-02-14 15:25:00  1381.85  1383.00  1381.15  1382.40    645
...                    ...      ...      ...      ...      ...    ...
48800  2023-08-07 09:19:00   1347.0  1347.00  1345.95  1346.10    445
48801  2023-08-07 09:18:00   1347.0  1348.05  1346.05  1347.00    352
48802  2023-08-07 09:17:00   1346.0  1346.95  1345.90  1346.70    708
48803  2023-08-07 09:16:00  1344.15  1346.35  1344.15  1346.05    171
48804  2023-08-07 09:15:00   1349.5  1349.50  1344.20  1344.20    513

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48800             0
48801             0
48802             0
48803             0
48804             0

[48805 rows x 7 columns]
Cleaned DataFrame for df_natcopharm:
                 timestamp    open    high     low   close volume  \
0      2024-02-14 15:29:00     891     891     886     886  24824
1      2024-02-14 15:28:00     889  891.65  888.55     891  13540
2      2024-02-14 15:27:00  885.95     889   885.4     889  10004
3      2024-02-14 15:26:00   885.1     886  885.05     886   3067
4      2024-02-14 15:25:00   885.9     886  885.05   885.8   4102
...                    ...     ...     ...     ...     ...    ...
48802  2023-08-07 09:19:00  841.55  843.75  841.55  842.55   5848
48803  2023-08-07 09:18:00   839.5   842.0  839.05   841.5   5015
48804  2023-08-07 09:17:00  838.25   839.5   838.0   839.5   4024
48805  2023-08-07 09:16:00  840.95  840.95   838.1  839.05   2587
48806  2023-08-07 09:15:00   842.9   842.9   838.8   840.8   5174

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_nbcc:
                 timestamp    open    high     low   close  volume  \
0      2024-02-14 15:29:00  130.60  130.60  130.60  130.60    8076
1      2024-02-14 15:28:00  130.60  130.60  130.60  130.60    1389
2      2024-02-14 15:27:00  130.60  130.60  130.60  130.60    4168
3      2024-02-14 15:26:00  130.60  130.60  130.60  130.60    4000
4      2024-02-14 15:25:00  130.60  130.60  130.60  130.60    3807
...                    ...     ...     ...     ...     ...     ...
48801  2023-08-07 09:19:00   47.05   47.05   46.95   46.95  145397
48802  2023-08-07 09:18:00   47.30   47.35   47.00   47.00  384759
48803  2023-08-07 09:17:00   47.40   47.40   47.25   47.35  238094
48804  2023-08-07 09:16:00   47.55   47.55   47.35   47.40  457363
48805  2023-08-07 09:15:00   47.70   47.75   47.55   47.55  562766

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48801             0
48802             0
48803             0
48804             0
48805             0

[48806 rows x 7 columns]
Cleaned DataFrame for df_ncc:
                 timestamp    open    high     low   close volume  \
0      2024-02-14 15:29:00  222.25  222.30     222  222.20  24434
1      2024-02-14 15:28:00  222.50  222.50  222.15  222.30  29306
2      2024-02-14 15:27:00  222.30  222.50   222.3  222.35  14172
3      2024-02-14 15:26:00  222.45  222.50   222.3  222.30  17394
4      2024-02-14 15:25:00  222.45  222.50  222.25  222.45  24688
...                    ...     ...     ...     ...     ...    ...
48802  2023-08-07 09:19:00  152.65  152.85   152.6  152.80   4782
48803  2023-08-07 09:18:00  152.10  152.90   152.1  152.75  41651
48804  2023-08-07 09:17:00  152.60  152.60  151.95  152.20  43150
48805  2023-08-07 09:16:00  152.50  152.80   152.4  152.80  21681
48806  2023-08-07 09:15:00  153.55  154.00   152.8  152.80  39367

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_nhpc:
                 timestamp   open   high    low  close   volume open interest
0      2024-02-14 15:29:00  89.50  89.50  89.30  89.45  1195054             0
1      2024-02-14 15:28:00  89.35  89.50  89.25  89.50  1424871             0
2      2024-02-14 15:27:00  89.35  89.40  89.20  89.35   811521             0
3      2024-02-14 15:26:00  89.25  89.35  89.15  89.35   732151             0
4      2024-02-14 15:25:00  89.15  89.30  89.15  89.20   551112             0
...                    ...    ...    ...    ...    ...      ...           ...
48802  2023-08-07 09:19:00  49.30  49.30  49.20  49.30   171815             0
48803  2023-08-07 09:18:00  49.30  49.40  49.30  49.35    48252             0
48804  2023-08-07 09:17:00  49.35  49.35  49.20  49.35    52566             0
48805  2023-08-07 09:16:00  49.20  49.40  49.20  49.30    95584             0
48806  2023-08-07 09:15:00  49.55  49.55  49.15  49.20    89640             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_nlcindia:
                 timestamp    open    high     low   close volume  \
0      2024-02-14 15:29:00  237.05  237.95  236.80  237.65  29803
1      2024-02-14 15:28:00  237.70  237.70  236.80  237.35  18862
2      2024-02-14 15:27:00  237.40  238.00  237.35  237.70  22815
3      2024-02-14 15:26:00  237.30  237.85  237.20  237.35  17409
4      2024-02-14 15:25:00  237.55  238.00  237.15  237.15  24289
...                    ...     ...     ...     ...     ...    ...
48802  2023-08-07 09:19:00  116.10  116.25  116.10  116.20   2695
48803  2023-08-07 09:18:00  116.15  116.20  116.10  116.15   7039
48804  2023-08-07 09:17:00  116.40  116.40  116.20  116.30  10477
48805  2023-08-07 09:16:00  116.35  116.65  116.35  116.65    654
48806  2023-08-07 09:15:00  116.80  116.80  116.30  116.40   3961

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_nmdc:
                 timestamp    open    high     low   close  volume  \
0      2024-02-14 15:29:00  235.90  236.15  235.45  235.80   48134
1      2024-02-14 15:28:00  235.85  236.20  235.50  235.90   49847
2      2024-02-14 15:27:00  236.05  236.25  235.45  235.95   70559
3      2024-02-14 15:26:00  236.00  236.10  235.75  236.05  120659
4      2024-02-14 15:25:00  235.50  236.10  235.45  235.95  120255
...                    ...     ...     ...     ...     ...     ...
48801  2023-08-07 09:19:00  113.80  113.80  113.75  113.75    8741
48802  2023-08-07 09:18:00  113.85  113.90  113.80  113.80   52082
48803  2023-08-07 09:17:00  113.65  113.70  113.55  113.70   73506
48804  2023-08-07 09:16:00  113.50  113.75  113.50  113.65   35055
48805  2023-08-07 09:15:00  113.75  113.75  113.25  113.40   74287

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48801             0
48802             0
48803             0
48804             0
48805             0

[48806 rows x 7 columns]
Cleaned DataFrame for df_nslnisp:
                 timestamp   open   high    low  close  volume open interest
0      2024-02-14 15:29:00     59     59  58.70     59  178217             0
1      2024-02-14 15:28:00   58.9     59  58.90     59   66565             0
2      2024-02-14 15:27:00     59     59  58.90     59   75312             0
3      2024-02-14 15:26:00  59.15  59.15  58.95  58.95   99728             0
4      2024-02-14 15:25:00   59.1   59.2  59.00  59.15  122087             0
...                    ...    ...    ...    ...    ...     ...           ...
48802  2023-08-07 09:19:00   47.2   47.2  47.15   47.2    2591             0
48803  2023-08-07 09:18:00   47.1  47.15  47.05  47.15   14158             0
48804  2023-08-07 09:17:00  47.15   47.2  47.10   47.1   12213             0
48805  2023-08-07 09:16:00   47.0  47.25  47.00  47.15    9559             0
48806  2023-08-07 09:15:00  47.15  47.15  46.80  47.05   22533             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_ntpc:
                 timestamp    open    high     low   close  volume  \
0      2024-02-14 15:29:00  328.50  328.60  327.75  328.45   78447
1      2024-02-14 15:28:00  328.20  328.50  327.70  328.20   73207
2      2024-02-14 15:27:00  328.10  328.20  327.85  328.20   69118
3      2024-02-14 15:26:00  328.40  328.60  328.00  328.10   86174
4      2024-02-14 15:25:00  328.55  328.55  328.05  328.40   75703
...                    ...     ...     ...     ...     ...     ...
48802  2023-08-07 09:19:00  219.05  219.75  219.05  219.70   36585
48803  2023-08-07 09:18:00  219.15  219.60  219.15  219.40   57642
48804  2023-08-07 09:17:00  219.60  219.70  218.85  219.10   74162
48805  2023-08-07 09:16:00  219.20  219.70  219.20  219.60   69710
48806  2023-08-07 09:15:00  218.90  219.25  218.25  219.25  121788

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_nh:
                 timestamp     open     high      low    close volume  \
0      2024-02-14 15:29:00     1420     1420  1416.20     1420    510
1      2024-02-14 15:28:00     1422     1422  1416.00   1416.6   1245
2      2024-02-14 15:27:00  1422.55     1423  1420.50     1422    570
3      2024-02-14 15:26:00     1420  1422.55  1419.10     1422   1111
4      2024-02-14 15:25:00  1419.95     1421  1419.10   1420.5   1571
...                    ...      ...      ...      ...      ...    ...
48802  2023-08-07 09:19:00  1028.75  1028.75  1027.90   1028.0    365
48803  2023-08-07 09:18:00  1032.55   1033.7  1026.65  1026.65   1877
48804  2023-08-07 09:17:00   1031.9  1033.95  1029.70  1032.95   1022
48805  2023-08-07 09:16:00   1031.8   1032.5  1028.05   1032.5   4119
48806  2023-08-07 09:15:00   1034.3   1034.3  1030.35  1032.55   4757

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_nationalum:
                 timestamp    open    high     low   close  volume  \
0      2024-02-14 15:29:00  154.95  155.45  154.90  155.40  216227
1      2024-02-14 15:28:00  154.95  155.00  154.85  154.95  208607
2      2024-02-14 15:27:00  154.95  155.00  154.80  154.95  142965
3      2024-02-14 15:26:00  155.35  155.40  154.85  154.95  256936
4      2024-02-14 15:25:00  155.65  155.75  155.25  155.30  113497
...                    ...     ...     ...     ...     ...     ...
48802  2023-08-07 09:19:00   95.45   95.45   95.30   95.35   16397
48803  2023-08-07 09:18:00   95.50   95.50   95.30   95.45   38295
48804  2023-08-07 09:17:00   95.20   95.45   95.20   95.45   68539
48805  2023-08-07 09:16:00   95.05   95.30   95.00   95.30   19692
48806  2023-08-07 09:15:00   95.20   95.30   94.90   94.90   60276

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_navinfluor:
                 timestamp     open     high      low    close volume  \
0      2024-02-14 15:29:00  3103.95     3105  3101.40     3104   2090
1      2024-02-14 15:28:00  3104.00     3104  3099.95  3102.05   1749
2      2024-02-14 15:27:00  3106.15   3106.2  3102.05     3106    479
3      2024-02-14 15:26:00  3106.20   3106.2  3106.00   3106.2    426
4      2024-02-14 15:25:00  3105.15   3106.2  3105.00   3106.2   2170
...                    ...      ...      ...      ...      ...    ...
48802  2023-08-07 09:19:00  4437.85   4447.1  4437.85   4441.8   1799
48803  2023-08-07 09:18:00  4433.20  4445.65  4433.20   4441.8   2850
48804  2023-08-07 09:17:00  4425.20   4434.0  4418.20  4432.95   2319
48805  2023-08-07 09:16:00  4417.45  4424.75  4412.20  4424.75   3933
48806  2023-08-07 09:15:00  4445.00   4445.0  4404.00   4415.0  11226

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_nazara:
                 timestamp    open    high     low   close volume  \
0      2024-02-14 15:29:00  844.90  848.10  841.50  841.50   1144
1      2024-02-14 15:28:00  844.00  844.90  844.00  844.00    492
2      2024-02-14 15:27:00  843.00  844.80  842.55  844.00    532
3      2024-02-14 15:26:00  842.50  843.85  842.10  842.95    619
4      2024-02-14 15:25:00  843.30  843.95  842.50  842.50    229
...                    ...     ...     ...     ...     ...    ...
48802  2023-08-07 09:19:00  706.25  706.25  705.30  705.40    389
48803  2023-08-07 09:18:00  706.10  707.05  706.10  706.50   2375
48804  2023-08-07 09:17:00  703.05  704.20  703.05  704.05    470
48805  2023-08-07 09:16:00  705.90  706.25  703.00  703.00   1985
48806  2023-08-07 09:15:00  702.50  705.00  702.30  705.00   1486

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48802             0
48803             0
48804             0
48805             0
48806             0

[48807 rows x 7 columns]
Cleaned DataFrame for df_nestleind:
                 timestamp     open     high      low    close volume  \
0      2024-02-14 15:29:00     2494  2494.40  2490.05  2490.05   2449
1      2024-02-14 15:28:00   2492.9  2495.00  2490.00  2492.15   7911
2      2024-02-14 15:27:00   2490.7  2492.90  2490.25  2492.90   2737
3      2024-02-14 15:26:00   2491.3  2493.00  2484.65  2491.00   4894
4      2024-02-14 15:25:00  2493.95  2494.00  2489.60  2492.00   6138
...                    ...      ...      ...      ...      ...    ...
48800  2023-08-07 09:19:00  2244.95  2246.70  2241.20  2246.70   2560
48801  2023-08-07 09:18:00  2242.15  2246.75  2241.90  2244.55   1150
48802  2023-08-07 09:17:00  2241.85  2244.15  2240.00  2242.10   2010
48803  2023-08-07 09:16:00  2243.85  2248.25  2242.00  2244.75   5690
48804  2023-08-07 09:15:00   2241.5  2243.80  2237.95  2243.80   3690

      open interest
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
48800             0
48801             0
48802             0

In [7]:
!pip install Pygithub

Collecting Pygithub
  Downloading PyGithub-2.2.0-py3-none-any.whl (350 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 350.2/350.2 kB 6.7 MB/s eta 0:00:00
Collecting pynacl>=1.4.0 (from Pygithub)
  Downloading PyNaCl-1.5.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (856 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 856.7/856.7 kB 15.7 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.14.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (2.31.0)
Collecting pyjwt[crypto]>=2.4.0 (from Pygithub)
  Downloading PyJWT-2.8.0-py3-none-any.whl (22 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (4.9.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (2.0.7)
Collecting Deprecated (from Pygithub)
  Downloading Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: cryptography>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from pyjwt[crypto]>=2.4.0->Pygithub) (42.0.2)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from pynacl>=1.4.0->Pygithub) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->Pygithub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->Pygithub) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->Pygithub) (2024.2.2)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from Deprecated->Pygithub) (1.14.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.4.1->pynacl>=1.4.0->Pygithub) (2.21)
Installing collected packages: pyjwt, Deprecated, pynacl, Pygithub
  Attempting uninstall: pyjwt
    Found existing installation: PyJWT 2.3.0
    Uninstalling PyJWT-2.3.0:
      Successfully uninstalled PyJWT-2.3.0
Successfully installed Deprecated-1.2.14 Pygithub-2.2.0 pyjwt-2.8.0 pynacl-1.5.0

In [9]:
dfs['df_idea']

                 timestamp   open   high    low  close   volume open interest
0      2024-02-14 15:29:00  15.45  15.50  15.45  15.50  2524814             0
1      2024-02-14 15:28:00  15.45  15.50  15.45  15.50   885133             0
2      2024-02-14 15:27:00  15.45  15.50  15.45  15.45  1284296             0
3      2024-02-14 15:26:00  15.45  15.50  15.45  15.50   934231             0
4      2024-02-14 15:25:00  15.50  15.55  15.45  15.50  1389717             0
...                    ...    ...    ...    ...    ...      ...           ...
48802  2023-08-07 09:19:00   8.40   8.40   8.35   8.40   255915             0
48803  2023-08-07 09:18:00   8.40   8.40   8.35   8.40   231515             0
48804  2023-08-07 09:17:00   8.35   8.40   8.35   8.40   733394             0
48805  2023-08-07 09:16:00   8.30   8.40   8.30   8.40  4138557             0
48806  2023-08-07 09:15:00   8.30   8.30   8.25   8.30  2243520             0

[48807 rows x 7 columns]

In [10]:

# # Example usage for each DataFrame
# df_nse_eq_cleaned = clean_data(df_nse_eq)
# df_other_symbol_cleaned = clean_data(df_other_symbol)

# # Print cleaned DataFrames
# print("Cleaned DataFrame for NSE_EQ%7CINE848E01016:")
# print(df_nse_eq_cleaned)

# print("\nCleaned DataFrame for OTHER_SYMBOL:")
# print(df_other_symbol_cleaned)


!pip install Pygithub

import pandas as pd
from datetime import datetime
from github import Github
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Function to save DataFrames to Excel files in a loop
def save_all_to_excel(dfs, repo_path, github_token):
    # Initialize the GitHub client
    g = Github(github_token)
    repo = g.get_repo(repo_path)

    for df_name, df in dfs.items():
        # Remove timezone information from datetime columns

        file_name = f"{df_name}_historical_1minute_data.xlsx"
        file_path = '/content/' + file_name
        df.to_excel(file_path, index=False)
        print(f"DataFrame '{df_name}' successfully saved to Excel file: {file_path}")

        # Fetch the existing file from GitHub
        try:
            existing_file = repo.get_contents(file_name)
            existing_file_sha = existing_file.sha
        except Exception as e:
            existing_file_sha = None
            print(f"Failed to fetch existing file: {str(e)}")

        # Upload the file to GitHub
        with open(file_path, 'rb') as file:
            content = file.read()
            if existing_file_sha:
                repo.update_file(file_name, f"Update {file_name}", content, existing_file_sha)
                print(f"File '{file_name}' updated on GitHub.")
            else:
                repo.create_file(file_name, f"Add {file_name}", content)
                print(f"File '{file_name}' created on GitHub.")


# Specify your GitHub repository path and personal access token
repo_path = "LAXMINARAYAN-SHARMA/PAST_DATA_OF_NIFTY_50"
github_token = "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"

# Save all DataFrames to individual Excel files and upload them to GitHub
save_all_to_excel(dfs, repo_path, github_token)

Requirement already satisfied: Pygithub in /usr/local/lib/python3.10/dist-packages (2.2.0)
Requirement already satisfied: pynacl>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (1.5.0)
Requirement already satisfied: requests>=2.14.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (2.31.0)
Requirement already satisfied: pyjwt[crypto]>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (2.8.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (4.9.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from Pygithub) (2.0.7)
Requirement already satisfied: Deprecated in /usr/local/lib/python3.10/dist-packages (from Pygithub) (1.2.14)
Requirement already satisfied: cryptography>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from pyjwt[crypto]>=2.4.0->Pygithub) (42.0.2)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from pynacl>=1.4.0->Pygithub) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->Pygithub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->Pygithub) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->Pygithub) (2024.2.2)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from Deprecated->Pygithub) (1.14.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.4.1->pynacl>=1.4.0->Pygithub) (2.21)
Mounted at /content/drive
DataFrame 'df_jkpaper' successfully saved to Excel file: /content/df_jkpaper_historical_1minute_data.xlsx
File 'df_jkpaper_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jmfinancil' successfully saved to Excel file: /content/df_jmfinancil_historical_1minute_data.xlsx
File 'df_jmfinancil_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jswenergy' successfully saved to Excel file: /content/df_jswenergy_historical_1minute_data.xlsx
File 'df_jswenergy_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jswsteel' successfully saved to Excel file: /content/df_jswsteel_historical_1minute_data.xlsx
File 'df_jswsteel_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jamnaauto' successfully saved to Excel file: /content/df_jamnaauto_historical_1minute_data.xlsx
File 'df_jamnaauto_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jindalsaw' successfully saved to Excel file: /content/df_jindalsaw_historical_1minute_data.xlsx
File 'df_jindalsaw_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jsl' successfully saved to Excel file: /content/df_jsl_historical_1minute_data.xlsx
File 'df_jsl_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jindalstel' successfully saved to Excel file: /content/df_jindalstel_historical_1minute_data.xlsx
File 'df_jindalstel_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jublfood' successfully saved to Excel file: /content/df_jublfood_historical_1minute_data.xlsx
File 'df_jublfood_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jublingrea' successfully saved to Excel file: /content/df_jublingrea_historical_1minute_data.xlsx
File 'df_jublingrea_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jublpharma' successfully saved to Excel file: /content/df_jublpharma_historical_1minute_data.xlsx
File 'df_jublpharma_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_justdial' successfully saved to Excel file: /content/df_justdial_historical_1minute_data.xlsx
File 'df_justdial_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_jyothylab' successfully saved to Excel file: /content/df_jyothylab_historical_1minute_data.xlsx
File 'df_jyothylab_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kprmill' successfully saved to Excel file: /content/df_kprmill_historical_1minute_data.xlsx
File 'df_kprmill_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kei' successfully saved to Excel file: /content/df_kei_historical_1minute_data.xlsx
File 'df_kei_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_knrcon' successfully saved to Excel file: /content/df_knrcon_historical_1minute_data.xlsx
File 'df_knrcon_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kpittech' successfully saved to Excel file: /content/df_kpittech_historical_1minute_data.xlsx
File 'df_kpittech_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_krbl' successfully saved to Excel file: /content/df_krbl_historical_1minute_data.xlsx
File 'df_krbl_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_ksb' successfully saved to Excel file: /content/df_ksb_historical_1minute_data.xlsx
File 'df_ksb_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kajariacer' successfully saved to Excel file: /content/df_kajariacer_historical_1minute_data.xlsx
File 'df_kajariacer_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kpil' successfully saved to Excel file: /content/df_kpil_historical_1minute_data.xlsx
File 'df_kpil_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kalyankjil' successfully saved to Excel file: /content/df_kalyankjil_historical_1minute_data.xlsx
File 'df_kalyankjil_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kansainer' successfully saved to Excel file: /content/df_kansainer_historical_1minute_data.xlsx
File 'df_kansainer_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_karurvysya' successfully saved to Excel file: /content/df_karurvysya_historical_1minute_data.xlsx
File 'df_karurvysya_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kaynes' successfully saved to Excel file: /content/df_kaynes_historical_1minute_data.xlsx
File 'df_kaynes_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kec' successfully saved to Excel file: /content/df_kec_historical_1minute_data.xlsx
File 'df_kec_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kfintech' successfully saved to Excel file: /content/df_kfintech_historical_1minute_data.xlsx
File 'df_kfintech_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kotakbank' successfully saved to Excel file: /content/df_kotakbank_historical_1minute_data.xlsx
File 'df_kotakbank_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_kims' successfully saved to Excel file: /content/df_kims_historical_1minute_data.xlsx
File 'df_kims_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_l&tfh' successfully saved to Excel file: /content/df_l&tfh_historical_1minute_data.xlsx
File 'df_l&tfh_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_ltts' successfully saved to Excel file: /content/df_ltts_historical_1minute_data.xlsx
File 'df_ltts_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_lichsgfin' successfully saved to Excel file: /content/df_lichsgfin_historical_1minute_data.xlsx
File 'df_lichsgfin_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_ltim' successfully saved to Excel file: /content/df_ltim_historical_1minute_data.xlsx
File 'df_ltim_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_laxmimach' successfully saved to Excel file: /content/df_laxmimach_historical_1minute_data.xlsx
File 'df_laxmimach_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_lt' successfully saved to Excel file: /content/df_lt_historical_1minute_data.xlsx
File 'df_lt_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_latentview' successfully saved to Excel file: /content/df_latentview_historical_1minute_data.xlsx
File 'df_latentview_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_lauruslabs' successfully saved to Excel file: /content/df_lauruslabs_historical_1minute_data.xlsx
File 'df_lauruslabs_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_lxchem' successfully saved to Excel file: /content/df_lxchem_historical_1minute_data.xlsx
File 'df_lxchem_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_lemontree' successfully saved to Excel file: /content/df_lemontree_historical_1minute_data.xlsx
File 'df_lemontree_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_lici' successfully saved to Excel file: /content/df_lici_historical_1minute_data.xlsx
File 'df_lici_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_lindeindia' successfully saved to Excel file: /content/df_lindeindia_historical_1minute_data.xlsx
File 'df_lindeindia_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_lupin' successfully saved to Excel file: /content/df_lupin_historical_1minute_data.xlsx
File 'df_lupin_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_luxind' successfully saved to Excel file: /content/df_luxind_historical_1minute_data.xlsx
File 'df_luxind_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mmtc' successfully saved to Excel file: /content/df_mmtc_historical_1minute_data.xlsx
File 'df_mmtc_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mrf' successfully saved to Excel file: /content/df_mrf_historical_1minute_data.xlsx
File 'df_mrf_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mtartech' successfully saved to Excel file: /content/df_mtartech_historical_1minute_data.xlsx
File 'df_mtartech_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_lodha' successfully saved to Excel file: /content/df_lodha_historical_1minute_data.xlsx
File 'df_lodha_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mgl' successfully saved to Excel file: /content/df_mgl_historical_1minute_data.xlsx
File 'df_mgl_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_m&mfin' successfully saved to Excel file: /content/df_m&mfin_historical_1minute_data.xlsx
File 'df_m&mfin_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_m&m' successfully saved to Excel file: /content/df_m&m_historical_1minute_data.xlsx
File 'df_m&m_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mhril' successfully saved to Excel file: /content/df_mhril_historical_1minute_data.xlsx
File 'df_mhril_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mahlife' successfully saved to Excel file: /content/df_mahlife_historical_1minute_data.xlsx
File 'df_mahlife_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_manappuram' successfully saved to Excel file: /content/df_manappuram_historical_1minute_data.xlsx
File 'df_manappuram_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mrpl' successfully saved to Excel file: /content/df_mrpl_historical_1minute_data.xlsx
File 'df_mrpl_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mankind' successfully saved to Excel file: /content/df_mankind_historical_1minute_data.xlsx
File 'df_mankind_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_marico' successfully saved to Excel file: /content/df_marico_historical_1minute_data.xlsx
File 'df_marico_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_maruti' successfully saved to Excel file: /content/df_maruti_historical_1minute_data.xlsx
File 'df_maruti_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mastek' successfully saved to Excel file: /content/df_mastek_historical_1minute_data.xlsx
File 'df_mastek_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mfsl' successfully saved to Excel file: /content/df_mfsl_historical_1minute_data.xlsx
File 'df_mfsl_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_maxhealth' successfully saved to Excel file: /content/df_maxhealth_historical_1minute_data.xlsx
File 'df_maxhealth_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mazdock' successfully saved to Excel file: /content/df_mazdock_historical_1minute_data.xlsx
File 'df_mazdock_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_medplus' successfully saved to Excel file: /content/df_medplus_historical_1minute_data.xlsx
File 'df_medplus_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_metrobrand' successfully saved to Excel file: /content/df_metrobrand_historical_1minute_data.xlsx
File 'df_metrobrand_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_metropolis' successfully saved to Excel file: /content/df_metropolis_historical_1minute_data.xlsx
File 'df_metropolis_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mindacorp' successfully saved to Excel file: /content/df_mindacorp_historical_1minute_data.xlsx
File 'df_mindacorp_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_msumi' successfully saved to Excel file: /content/df_msumi_historical_1minute_data.xlsx
File 'df_msumi_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_motilalofs' successfully saved to Excel file: /content/df_motilalofs_historical_1minute_data.xlsx
File 'df_motilalofs_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mphasis' successfully saved to Excel file: /content/df_mphasis_historical_1minute_data.xlsx
File 'df_mphasis_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_mcx' successfully saved to Excel file: /content/df_mcx_historical_1minute_data.xlsx
File 'df_mcx_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_muthootfin' successfully saved to Excel file: /content/df_muthootfin_historical_1minute_data.xlsx
File 'df_muthootfin_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_natcopharm' successfully saved to Excel file: /content/df_natcopharm_historical_1minute_data.xlsx
File 'df_natcopharm_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nbcc' successfully saved to Excel file: /content/df_nbcc_historical_1minute_data.xlsx
File 'df_nbcc_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_ncc' successfully saved to Excel file: /content/df_ncc_historical_1minute_data.xlsx
File 'df_ncc_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nhpc' successfully saved to Excel file: /content/df_nhpc_historical_1minute_data.xlsx
File 'df_nhpc_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nlcindia' successfully saved to Excel file: /content/df_nlcindia_historical_1minute_data.xlsx
File 'df_nlcindia_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nmdc' successfully saved to Excel file: /content/df_nmdc_historical_1minute_data.xlsx
File 'df_nmdc_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nslnisp' successfully saved to Excel file: /content/df_nslnisp_historical_1minute_data.xlsx
File 'df_nslnisp_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_ntpc' successfully saved to Excel file: /content/df_ntpc_historical_1minute_data.xlsx
File 'df_ntpc_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nh' successfully saved to Excel file: /content/df_nh_historical_1minute_data.xlsx
File 'df_nh_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nationalum' successfully saved to Excel file: /content/df_nationalum_historical_1minute_data.xlsx
File 'df_nationalum_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_navinfluor' successfully saved to Excel file: /content/df_navinfluor_historical_1minute_data.xlsx
File 'df_navinfluor_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nazara' successfully saved to Excel file: /content/df_nazara_historical_1minute_data.xlsx
File 'df_nazara_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nestleind' successfully saved to Excel file: /content/df_nestleind_historical_1minute_data.xlsx
File 'df_nestleind_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_network18' successfully saved to Excel file: /content/df_network18_historical_1minute_data.xlsx
File 'df_network18_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nam-india' successfully saved to Excel file: /content/df_nam-india_historical_1minute_data.xlsx
File 'df_nam-india_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_nuvoco' successfully saved to Excel file: /content/df_nuvoco_historical_1minute_data.xlsx
File 'df_nuvoco_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_oberoirlty' successfully saved to Excel file: /content/df_oberoirlty_historical_1minute_data.xlsx
File 'df_oberoirlty_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_ongc' successfully saved to Excel file: /content/df_ongc_historical_1minute_data.xlsx
File 'df_ongc_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_oil' successfully saved to Excel file: /content/df_oil_historical_1minute_data.xlsx
File 'df_oil_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_olectra' successfully saved to Excel file: /content/df_olectra_historical_1minute_data.xlsx
File 'df_olectra_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_paytm' successfully saved to Excel file: /content/df_paytm_historical_1minute_data.xlsx
File 'df_paytm_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_ofss' successfully saved to Excel file: /content/df_ofss_historical_1minute_data.xlsx
File 'df_ofss_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_orientelec' successfully saved to Excel file: /content/df_orientelec_historical_1minute_data.xlsx
File 'df_orientelec_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_policybzr' successfully saved to Excel file: /content/df_policybzr_historical_1minute_data.xlsx
File 'df_policybzr_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_pcbl' successfully saved to Excel file: /content/df_pcbl_historical_1minute_data.xlsx
File 'df_pcbl_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_piind' successfully saved to Excel file: /content/df_piind_historical_1minute_data.xlsx
File 'df_piind_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_pnbhousing' successfully saved to Excel file: /content/df_pnbhousing_historical_1minute_data.xlsx
File 'df_pnbhousing_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_pncinfra' successfully saved to Excel file: /content/df_pncinfra_historical_1minute_data.xlsx
File 'df_pncinfra_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_pvrinox' successfully saved to Excel file: /content/df_pvrinox_historical_1minute_data.xlsx
File 'df_pvrinox_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_pageind' successfully saved to Excel file: /content/df_pageind_historical_1minute_data.xlsx
File 'df_pageind_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_patanjali' successfully saved to Excel file: /content/df_patanjali_historical_1minute_data.xlsx
File 'df_patanjali_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_persistent' successfully saved to Excel file: /content/df_persistent_historical_1minute_data.xlsx
File 'df_persistent_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_petronet' successfully saved to Excel file: /content/df_petronet_historical_1minute_data.xlsx
File 'df_petronet_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_pfizer' successfully saved to Excel file: /content/df_pfizer_historical_1minute_data.xlsx
File 'df_pfizer_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_phoenixltd' successfully saved to Excel file: /content/df_phoenixltd_historical_1minute_data.xlsx
File 'df_phoenixltd_historical_1minute_data.xlsx' updated on GitHub.
DataFrame 'df_pidilitind' successfully saved to Excel file: /content/df_pidilitind_historical_1minute_data.xlsx
File 'df_pidilitind_historical_1minute_data.xlsx' updated on GitHub.